.ontodia-snap-line {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ontodia-horizontal-snap-line {
  width: 200vw;
  margin-left: - 100vw;
  border-bottom: 1px solid greenyellow;
}

.ontodia-vertical-snap-line {
  height: 200vh;
  margin-top: - 100vh;
  border-right: 1px solid greenyellow;
}
