.ontodia-snap-line {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ontodia-horizaontal-snap-line {
  width: 100vw;
  border-bottom: 1px solid greenyellow;
}

.ontodia-vertical-snap-line {
  height: 100vh;
  border-right: 1px solid greenyellow;
}
